language: java

jdk:
  - oraclejdk8

before_install:
  - sudo apt-get update -qq
  - sudo apt-get install libboost-dev libboost-test-dev libboost-program-options-dev libevent-dev automake libtool flex bison pkg-config g++ libssl-dev
  - wget http://www.us.apache.org/dist/thrift/0.9.2/thrift-0.9.2.tar.gz
  - tar xzf thrift-0.9.2.tar.gz
  - cd thrift-0.9.2 && ./configure --with-cpp --without-ruby --without-java --without-python --without-php && sudo make install && cd ..

install:
  - mvn -DskipTests=true install

script: mvn test